body {
    background-color: #EBF2FC;
}

.header-container {
    background-color: #FBFDFE;
    max-width: 80%;
    display: flex;
    align-items: center;
}

.extension-filter {
    display: flex;
    justify-content: space-around;
}

.filter-all {
    background-color: #C7231A;
    padding: 6px 16px 6px 16px;
    border-radius: 36px;
    color: #fff;
}

.filter-active, .filter-incative {
    background-color: #FBFDFE;
    padding: 6px 16px 6px 16px;
    border-radius: 36px;
}
